@import url(./_theme/_dark/section-title_theme_dark.css);

.section-title {
    text-align: center;
    margin: 0 auto 20px;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}