@import url(./__title/feinman__title.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__link/feinman__link.css);

.feinman {
    position: relative;
    height: 790px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(../../images/feinman/feinman.png);
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: left bottom;
}