.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    background-color: #F2F2F2;
    display: flex;
    position: relative;
}

.logo_place_header{   
    margin-top: 30px;
    margin-left: 64px;
    width: 183px;
    height: 32px;
    position: absolute;
    text-decoration: none;
}

.header_title {
    display: flex;
    align-items: center;
    margin-left: 64px;
    width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    
}

.header_subtitle {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 388px;
    margin-bottom: 30px;
    margin-left: 64px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    z-index: 2;
}

.header_link {
    display: flex;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 70px;
}

.header__main-illustration {
    display: flex;
    width: 756px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

img {
    max-width: 100%;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    display: flex;
    height: 568px;
    width: 568px;
    margin-top: 64px;
    position: absolute;
    background-color: #2F80ED;
    right: 0;
}

.description__two-columns {
    display: flex;
    margin: 100px auto; 
    justify-content: space-between;
}

.description__two-columns_brief {
    display: flex;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    margin-left: 0;
    margin-top: 0;
}

.description__two-columns_main-text {
    display: flex;
    width: 80%;
    min-width: 784px;
    min-height: 300px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;  
}

.description__two-columns_paragraph {
    margin-top: 0;
    margin-bottom: 30px;
}

.two_columns_span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits__sectoin-title {
    text-align: center;
    margin: 100px auto 20px;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.digits__sectoin-subtitle {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.digits__table {
  display: flex;
  width: 1100px; 
  margin: 60px auto 100px; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.digits__table_cell {
    width: 250px;
    margin-bottom: 60px;
}

.digits__table_heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.digits__table_text {
    line-height: 1.12;
    font-size: 18px;
    font-weight: normal;
    bottom: 20px;
}

.feinman {
    height: 790px;
    position: relative;
    background-color: #F2F2F2;
    z-index: -2;
    margin-top: 100px;
    /* padding-top: 100px; */
    /* box-sizing: border-box; */
}

.feinman_title {
    text-align: center;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
}

.feinman_subtitle {
    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman_link {
    display: flex;
    position: absolute;
    height: 50%;
    right: 48px;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #000000;
}

.feinman_image {
    position: absolute;
    width: 867px; 
    height:  637px;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.kaufman {
    background-color:  #1F1F1F;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.section-title_theme_dark {
    width: 60%;
    margin: 90px auto 20px;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.section-subtitle_theme_dark {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin-top: 20px;
    margin-bottom: 80px;
}

.table_theme_dark {
    width: 1100px;
    margin: 80px auto 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-bottom: 80px;
}
.table__heading_theme_dark {
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.kaufman_triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: -1;
}

.footer {
    background-color: #1F1F1F;
    
}

.footer__columns{
    width: 90%;
    flex-basis: 711px;
    min-height: 350px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer__column_content_copyright {
    order: 1;
    width: 50%;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer_author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer__column_content_info {
    order: 2;
}

.footer_column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.footer_column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

.footer__column_content_social {
    order: 3;
}

.footer_heading_social {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold; 
    margin-bottom: 20px;
    margin-top: 0;
}

.footer_social-icon {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;    
}

.img_social {
    margin-right: 10px;
}
